.menu_btn{
    width:30px;
    height:30px;
    background-color:lightblue;
    position:absolute;
    top:5px;
    right:5px;
}
.menu_btn span{
    opacity:0;   
}

.menu_btn::before{
    content:"";
    position:absolute;
    height:2px;
    left:2px;
    width:26px;
    background-color:black;
    top:0;
    bottom:0;
    margin:auto;
    box-shadow:0px 8px 0px black, 0px -8px 0px black;
}
.container01{
    display:flex;
}
.c01-1{
    display:flex;
    flex:none;
    flex:70%
}
.c01-2{
    display:flex;
    justify-content:flex-end;
}
.c01-1>.box-title{
    font-size:20px; font-weight:bold;
    margin:5px 5px;
    width:130px; height:20px;
    text-align:left;
    letter-spacing:0.5px;
}
.c01-2>.item001{
    font-size:20px;
    width:100px; height:20px;
    margin:5px 5px;
    text-align:right;
}
.c01-2>.item002{
    font-size:20px;
    width:100px; height:20px;
    margin:5px 5px;
    text-align:right;
}
.c01-2>.item003{
    font-size:20px;
    width:100px; height:20px;
    margin:5px 5px;
    text-align:right;
}
.c01-2>.item004{
    font-size:20px;
    width:100px; height:20px;
    margin:5px 5px;
    text-align:right;
}

body{
    margin:0;
    background-color:#F3F0D7;
}
.container02{
    background-color:lightblue;
    width:auto;
    height:300px;
    margin-top:10px;
    display:flex;
    justify-content:center; align-items:center;
}
.greeting{
    width:auto; height:50px;
    font-size:40px; font-weight:bold;
    margin:0 3px;
    text-align:center;
}

.container03{
    width:1200px; margin:5px auto; height:100%;
    display:flex; flex-wrap:wrap;
    justify-content:center; align-items:stretch;
}

#article{
    flex:none;
    width:22%; height:100%; background-color:lightgray;
    margin:10px 10px;
    display:flex; flex-direction:column;
    align-items:stretch;
}
#pic_home{
    flex:none;
    width:100%; height:180px;
    display:flex; align-items:stretch;
}
#pic{
    width:100%; height:100%;
    object-fit:cover;
    object-position:50% 50%;
}
#title{
    text-align: center;
}

@media screen and (max-width:1200px){
    .container03{width:90%;}
    #article{width:42%;}
    #pic_home{width:100%; height:304px;}
}

@media screen and (max-width:1100px){
    #pic_home{width:100%; height:278px;}
}
@media screen and (max-width:1000px){
    #pic_home{width:100%; height:253px;}
}
@media screen and (max-width:900px){
    #pic_home{width:100%; height:227px;}
}
@media screen and (max-width:800px){
    #pic_home{width:100%; height:201px;}
}
@media screen and (max-width:700px){
    #pic_home{width:100%; height:176px;}
}

@media screen and (max-width:600px){
    .container03{width:90%;}
    #article{width:87%; height:100%;}
    #pic_home{width:100%; height:311px;}
}
@media screen and (min-width:600px){
    .menu_btn{display:none;}
    .c01-3{display:none;}
}
@media screen and (max-width:600px){
    .menu_btn{display:block;}
    .c01-2{display:none;}
}

@media screen and (max-width:500px){
    #pic_home{width:100%; height:257px;}
}
@media screen and (max-width:400px){
    #pic_home{width:100%; height:204px;}
}
@media screen and (max-width:300px){
    #pic_home{width:100%; height:151px;}
}

.c01-3{
    width:auto;
    height:auto;
    background-color:lightgrey;
    position:absolute;
    top:40px;
    left:-100%;
    transition:.5s;
}
.c01-3>.item1, .item2, .item3, .item4{
    display:block;
    font-size:20px;
    background-color:#F3F0D7;
    width:150px; height:20px;
    margin:5px 0px;
    text-align:center;
    padding:10px 20px;
}
#menu_control:checked ~ .container01>.c01-3{
    left:0%;
}
#menu_control{
    position:absolute;
    z-index:-2;
    opacity:0;
}

#load_home{
    display:flex;
    justify-content:center; align-items:center;
}
#load_button{
    width:100px; height:35px;
    background-color:lightblue;
    font-size:20px;
    text-align:center; padding-top:15px;
}